*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 @font-face {
        font-family: Roboto;
        src: url("fonts/Roboto-Regular-webfont.woff"); 
      
    }  

body{
    background-color: lightgrey;
    color: darkgray;
}
header{
height: 900px;
background-image: linear-gradient(to bottom left , black, black, black, #E74C9C );

}
.logo{
    display: flex;
    padding: 30px;
    justify-content: space-between;
}
.logo img{
height: 60px;
width: 60px;
}
.logo > span{
    font-size: xx-large;

}
header .container{
    display: flex;
}
header  h1{
    color: #E74C9C;
    font-weight: bolder;
    font-size: 60px;
    width: 350px;
}
header h2{
    padding-bottom: 40px;
    font-weight: lighter;
}

.firstheader{
    padding: 30px 0 ;
    width: 310px;
}
header  .aboutus{
    width: 20px ;
  line-height: 1.5;
  
}

.firsttext{
    padding: 10px 0 5px  ;
}
header  button{
    padding: 6px 20px 6px 20px;
    background-color: #E74C9C;
    border: none;
    color: white;
}
header img{
    height: 780px;
    width: 900px;
}
 
/* this is the body design  */

.bodyarticle{
    background-color: #E74C9C;
    display: flex;
    padding: 30px 40px;
    height: 260px;
    justify-content: center;
}
.bodyarticle .firstarticle img{
    width: 40px;
    height: auto;
    border-radius: 30px;
}
.bodyarticle .firstarticle{
background-color: black;
width: 400px;
height: 200px;
margin-right: 30px;
padding: 8px;
}
.bodyarticle .firstarticle h4{
    font-weight:lighter ;
    padding: 10px 0 ;
}
.bodyarticle .firstarticle span{
    font-size: small;
    display: block;
    width: 200px;
}
.bodyarticle .firstarticle button{
    margin: 20px 5px ;
    padding: 5px 25px ;
    background-color: black;
    color: white;
    border-color: white;
   
}

.bodyarticle .secondarticle img{
 width: 40px;
    height: auto;
    border-radius: 30px;
}

.bodyarticle .secondarticle{
background-color: black;
width: 400px;
height: 200px;
margin-right: 30px;
padding: 8px;
}

.bodyarticle .secondarticle h4{
    font-weight:lighter ;
    padding: 10px 0 ;
}
.bodyarticle .secondarticle span{
    font-size: small;
    display: block;
    width: 200px;
}

.bodyarticle .secondarticle button{
    margin: 20px 5px ;
    padding: 5px 25px ;
    background-color: black;
    color: white;
    border-color: white;
   
}
.bodyarticle .thirdarticle img{
    width: 40px;
    height: 40px;
    border-radius: 30px;
}

.bodyarticle .thirdarticle{
background-color: black;
width: 400px;
height: 200px;
margin-right: 30px;
padding: 8px;
}
.bodyarticle .thirdarticle h4{
    font-weight:lighter ;
    padding: 10px 0 ;
}
.bodyarticle .thirdarticle span{
    font-size: small;
    display: block;
    width: 200px;
}
.bodyarticle .thirdarticle button{
    margin: 20px 5px ;
    padding: 5px 25px ;
    background-color: black;
    color: white;
    border-color: white;
   
}

.fresh2{
    background-color: black;
    display: flex;
    justify-content: center;
    padding-top: 20px;
}
/* this is the area for the classes */

.learnarticle{
   padding: 50px;
   display: flex;
    background-image: linear-gradient( to  bottom , black, black, #E74C9C , black, black) ;
    justify-content: center;
}

.firstlearn img{
    width: 200px;
    height: 150px;
    margin: auto;
    display: block;
    padding: 10px 20px;
}
.firstlearn{
    width: 210px;
    height: 350px;
    background-color: #484B4D;
    display: block;
}
.firstlearn h4{
    
    padding: 20px 20px 10px;
}
.firstlearn article{
    padding: 0 20px ;
    font-size: 80%;
    width: 220px;
}
.firstlearn a{
    padding: 20px ;
    display: block;
    
}
 a{
    text-decoration: none;
    color: darkgray;
    font-size: 80%;
}
a:hover{
    text-decoration: underline;
}

.secondlearn img{
    width: 200px;
    height: 150px;
    margin: auto;
    display: block;
    padding: 10px 20px;
}
.secondlearn{
    width: 210px;
    height: 350px;
    background-color: #484B4D;
    display: block;
    margin: 35px 30px;
}
.secondlearn h4{
    
    padding: 20px 20px 10px;
}
.secondlearn article{
    padding: 0 20px ;
    font-size: 80%;
    width: 220px;
}
.secondlearn a{
    padding: 20px ;
    display: block;
    
}

.thirdlearn img{
    width: 200px;
    height: 150px;
    display: block;
    padding: 10px 20px;
}
.thirdlearn{
    width: 210px;
    height: 350px;
    background-color: #484B4D;
    display: block;
    margin: 85px 0;
}
.thirdlearn h4{
    
    padding: 20px 20px 10px;
}
.thirdlearn article{
    padding: 0 20px ;
    font-size: 80%;
    width: 220px;
}
.thirdlearn a{
    padding: 20px ;
    display: block;
    
}

.outdoorarticle{
    background-color: #484B4D;
    padding: 70px;
}
.outdoorarticle h2{
    display: flex;
    width: 80px;
    margin: 0 200px 30px;
    color: white;
    font-size: xx-large;
    line-height: 120%;
}
.container{
    display: flex;
    margin-left: 200px;
}
.container span{
    width: 20%;
    font-size: 80%;

}
.outdoorarticle .container button{
    background-color: #E74C9C;
    color: white;
    width: 100px;
    height: 30px;
    box-shadow: none;
    margin: 40px 50px;
}

.start {
height: 500px; 
width: 300px;
color: #DE7CA7;
}
 .allimg {background-image: url(images/womanlifting.png) , url(images/womanlifting.png);
  background-position: 0 , right ;
  background-repeat: repeat , no-repeat;
  padding : 10px 40px;

}
.start h5{
    padding: 20px 0;
}
.start span{
    font-size: larger;
}
.completearea{
    display: flex;
    background: black;
    color: white;
  padding: 50px; 
}
.completearea .container {
    display: inline;
    padding-top: 50px ;
}
.completearea span h2 {
    font-size: x-large;
    width: 180px;
}
.completearea span h6{
    font-size: small;
    line-height: 150%;
    width: 240px;
    padding: 20px 0;
    font-weight: lighter;
}
.completearea  h4{
    padding-bottom: 20px;
}
.completearea button{
    background-color: #E74C9C;
    color: white;
    padding: 5px 20px;
}
.firstfotter{
  color: white;
    background: #030312;
background: linear-gradient(90deg, rgba(3, 3, 18, 1) 0%, rgba(38, 38, 41, 1) 82%);
    position: relative;
    height: 600px;
    display: flex;
    
}
.firstfotter img{
    display: block;
    margin: auto;
    
}
.firstfotter .aboutus2{
    background-color: #E74C9C;
    height: 220px;
    width: 300px;
    padding: 15px 30px;
    position: absolute;
    bottom: 30px;
    left: 380px;
    bottom: 60px;
    
}
.firstfotter .aboutus2 h3{
font-size: xx-large;
width: 250px;
padding: 15px 0 ;
}

address{
    background-color: #484B4D;
    height: 300px;
    width: 300px;
    position: absolute;
    bottom: 10px;
    right: 380px;
   
}
address h2{
    display: flex;
    justify-content: center;
    font-style: normal;
    padding: 0 0 20px ;
}
address label{
    padding: 20px;
}
address textarea{
    margin-left: 20px;
}
address button{
    margin: 20px;
    background-color: #484B4D;
    padding: 5px 25px;
    border: 1px solid white;
    color: white;
}

footer{
    background-color: #E74C9C;
    color: white;
    padding: 20px;
   display: flex;
   justify-content: center;
}

/* for tablet view  */
@media screen and (max-width: 1024px) and (min-width: 680px){
 header{
    height: auto;
    padding: 20px;
 }
 header .container{
     flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
 }
    header img {
    width: 300px;
    height: 200px ;
}

.bodyarticle{
    display: flex;
    justify-content: center;
}
.outdoorarticle span {
    width: 300px;
}
.start{
    height: 500px; 
    width: 300px;
    color: #DE7CA7;
}
.allimg {background-image: url(images/womanlifting.png) ;
  background-position:  right ;
  background-repeat: no-repeat;
  padding : 10px 40px;

}
.completearea img{
    width: 350px;
}




.firstfotter img{
    display: block;
    margin: auto;
    }
.firstfotter .aboutus2{
    background-color: #E74C9C;
    height: 220px;
    width: 300px;
    padding: 15px 30px;
    position: absolute;
    left: 50px;
    bottom: 30px;
    
}


address{
    background-color: #484B4D;
    height: 300px;
    width: 300px;
    position: absolute;
    bottom: 2px;
    right: 50px;  
}
}



/* for mobile view  */
@media only screen and (max-width: 600px){
     header{
    height: auto;
    display: flex;
    flex-direction: column;
 }

 .logo{
    display: flex;
    padding: 40px;
    justify-content: space-between;
}

header .container{
    display: flex;
    flex-direction: column;
    width: 100px;
    margin-left: 40px ;
}
header .container img {
    width: 200px;
    height: 150px;
}
 header .firstheader h1{
    font-size: x-large;
    margin-top: -45px;
 }
    header .container h2{
        font-size: large;
        padding-bottom: 20px;
    }
    header .container .aboutus{
        width: 20px;
        font-size: x-small;
        line-height: normal;
    }
    

    .bodyarticle{
    background-color: #E74C9C;
    display: flex;
    padding: 30px 40px;
    height: 760px;
    justify-content: center;
    flex-direction: column;


}
.bodyarticle .firstarticle{
background-color: black;
width: 400px;
height: 200px;
margin-bottom: 30px;
margin-top: -40px;
padding: 8px;
}

.bodyarticle .secondarticle{
background-color: black;
width: 400px;
height: 200px;
margin-bottom: 30px;
padding: 8px;
}

.bodyarticle .thirdarticle{
background-color: black;
width: 400px;
height: 200px;
margin-bottom: 30px;
padding: 8px;
}

.learnarticle{
   padding: 50px;
   display: flex;
    flex-direction: column;
}

.thirdlearn{
    margin-top: -15px;
}


.outdoorarticle{
    padding: 40px;
    margin-left: -55px;
}
.outdoorarticle .container span{
    width: 150px;
    font-size: 80%;
    margin-left: -45px;

}
.outdoorarticle .container button{
    background-color: #E74C9C;
    color: white;
    width: 150px;
    height: 30px;
    box-shadow: none;
    margin: 40px 50px;
}

.allimg {background-image: url(images/womanlifting.png) ;
  background-position:  center ;
  background-repeat: no-repeat;
  padding : 10px 30px;
}
.completearea{
    display: flex;
    background: black;
    color: white;
  padding: 50px; 
  flex-direction: column;
}
.completearea .container {
   margin-left: 40px;
}


.firstfotter .aboutus2{
    position: absolute;
    top: 3px;
    left: 4px;
   
}

address{
    position: absolute;
    bottom: 0px;
    right: 2px;  
}

.firstfotter img{
    width: 480px;
    height: auto;
}
}